{% extends "registration/base.html" %}

{% block body %}
<main>
    <div>

        <h1>Login</h1>
        <a href="{% url 'signup' %}">signup</a>"
        <form method="POST">
            {% csrf_token %}
            <p>
                <lable for="username">Username:</lable>
                <input type="text" , required, name="username" , id="username">

            <p>
                <lable for="password">Password:</lable>
                <input type="password" , required, name="password" , id="password">
            </p>
            <button type="submit">Login</button>
        </form>
    </div>
</main>
{% endblock body %}}