{% extends "registration/base.html" %}

{% block body %}
<main>
    <div>
        <h1>Signup</h1>
        <form class="site-form" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <p>
                <lable for="username">username:</lable>
                <input type="Text" , required, name="username" , id="username">
            </p>
            <p>
                <lable for="password1">Password1:</lable>
                <input type="password" , required, name="password1" , id="password1">
            </p>
            <p>
                <lable for="password2">Password2:</lable>
                <input type="password" , required, name="password2" , id="password2">
            </p>
            <p>
                <button>Signup</button>
            </p>
        </form>
    </div>
</main>
{% endblock body %}