{% extends "tasks/base.html" %}

{% block body %}
<main>
    <div>
        <h1>Create a new task</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button">Create</button>
        </form>
    </div>
</main>
{% endblock body %}