{% extends "projects/base2.html" %}
{% load static %}
{% block body %}
<main>
    <div>
        {% csrf_token %}
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}"></a></p>
        {% if projects|length == 0 %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <tr>
                <header>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </header>
            </tr>
            {% for project in projects %}
            <tr>
                <td> <a href="{% url 'show_project' project.pk %}">{{project.name}}</a> </td>
                <td>{{ project.tasks.all|length }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</main>
{% endblock body %}